.home-page{
    .tp-title{
        margin-top: 15px;
    }
    .card-bg{
        background: #F1F3F5 !important;
        cursor: pointer;
    }
    .ant-card-head-title{
        color: blue;
    }
    .ant-card-head{
        border-bottom: 1px solid gainsboro;
    }
}